.inlay {
    margin-top: 14%;
    @include border-radius(6px);
    padding: 40px 38px 44px;
    color: #E9F0FB;
    background: #292929;
    text-align: center;

    &__title {
        margin: 17px 0;
        padding-bottom: 17px;
        color: #E9F0FB;
        font-size: 1.25rem;
        letter-spacing: 0.3px;
        border-bottom: 1px solid rgba(59, 130, 246, 0.16);
    }

    &__text {
        color: #A9BEE0;
        display: block;
        margin-top: 22px;
        font-size: 1rem;
    }

    &__icon {
        margin: 0 10px;
        font-size: 3.125rem;
    }

}
